.content {
  display: flex;
  height: 100vh;
  font-size: large;
}
#navBar {
  position: absolute;
  height: 100%;
  border-radius: 0 10px 10px 0;
  background-color: var(--primary-color);
  overflow: hidden;
  transition: all 1s ease;
}
#navbarLogo {
  height: 1em;
  border-radius: 100%;
}
#actualContent {
  background-color: var(--secondary-color);
  width: 100%;
  padding: 0 0 0 100px;
}
#navBar .btn {
  color: var(--tertiary-color);
  margin: 10px;
  padding: 10px;
  display: flex;
  align-content: flex-start;
  width: 90%;
}
.text {
  position: relative;
}
.compressed .material-symbols-outlined {
  margin-left: 5px;
}
.expanded .material-symbols-outlined {
  margin: 0 10px 0 5px;
}
.compressed.btn {
  width: 90px;
}
.expanded.btn {
  width: 200px;
}
