.content {
  background-color: var(--seconday-color);
  display: flex;
  height: 100vh;
  font-size: large;
}
#navBar {
  padding: 0%;
  overflow: hidden;
  transition: all 1s ease;
  margin: 0%;
}
#content {
  background-color: var(--primary-color);
  width: 100%;
}
#navBar .btn {
  margin-top: 10px;
  display: flex;
  align-content: flex-start;
  height: 3em;
  width: 100%;
}
.material-symbols-outlined {
  margin: 0 10px 0 10px;
}
.compressed.btn {
  width: 80px;
}
.expanded.btn {
  width: 200px;
}
